<%- include('partials/header') %>

<body>
    <div class="container card">
        <div class="gestures-box font-rubik">
            <div class="falling-effect delay-0">
                <h1>Rock</h1>
                <img class="gesture" src="images/rock.svg">
            </div>
            <div class="falling-effect delay-1">
                <h1>Paper</h1>
                <img class="gesture" src="images/paper.svg">
            </div>
            <div class="falling-effect delay-2">
                <h1>Scissors</h1>
                <img class="gesture" src="images/scissors.svg">
            </div>
        </div>
        <a  href="/play" class="btn start-btn"><img src="images/start.png"></a>
    </div>
</body>

</html>